<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register</title>
</head>
<body>
{%block body%}
    {%if error%}
        <p>{{error}}</p>
    {%endif%}
<form action="" method="post">
    {%csrf_token%}
	<div class="login-screen">
			<div class="app-title">
				<h1>Login</h1>
			</div>
			<div class="login-form">
				<div class="control-group1">
				<input type="text" placeholder="Username" name="username">
				</div>

				<div class="control-group2">
				<input type="password" placeholder="Password" name="password">
				</div>
				<button class="button">Register</button>
			</div>
	</div>

</form>
{%endblock%}
</body>
</html>
